* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Inconsolata', sans-serif;
    letter-spacing: 1px;
    font-size: 19px;
    margin: 0 auto;
}

.nav-link {
    padding: var(--bs-nav-link-padding-y) 14px!important;
}

.nav-link:hover {
    color: var(--bs-indigo)!important;
}

#about_me {
    color: var(--bs-gray-100);
    width: 100%;
    height: 100vh;
    background-image: url('papyrus-dark.png');
}

.custom-card-img {
    width: 100%;
}

.custom-card-img::after {
    content: '';
    display: block;
    padding-top: 50%;
}

.pancakes {
    background: url('PancakesBanner.png') 50% 51% no-repeat;
    background-size: cover;
}

.adrenalin {
    background: url('Adrenalin.png') 50% 20% no-repeat;
    background-size: cover;
}

.drive {
    background: url('Drive.png') 50% 33% no-repeat;
    background-size: cover;
}

.kapika {
    background: url('Kapika.png') 50% 100% no-repeat;
    background-size: cover;
}

.weleda {
    background: url('Weleda.png') 50% 23% no-repeat;
    background-size: cover;
}

.autobanner {
    background: url('AutoBanner.png') 50% 50% no-repeat;
    background-size: cover; 
}

.demostand {
    background: url('demoStand.png') 50% 50% no-repeat;
    background-size: cover;
}

.doublescreen {
    background: url('DoubleScreen.png') 50% 50% no-repeat;
    background-size: cover;
}

.waxom {
    background: url('Waxon.png') 50% 50% no-repeat;
    background-size: cover;
}

.interior {
    background: url('Interior.png') 50% 50% no-repeat;
    background-size: cover; 
}

footer {
    background-image: url('papyrus-dark.png');
    height: 10vh;
    color: #f3f2f2;
}

.social-links-btn {
    color: var(--bs-gray-100);
    text-decoration: none;
}



.greeting {
    background: linear-gradient(90deg, rgba(168,47,210,1) 0%, rgba(53,190,172,1) 45%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 9vh;
    text-transform: capitalize;
    line-height: 8vh;
}
h1 {
    padding-top: 65px;
    margin-bottom: 40px;
}

.column {
    margin-right: 120px;
}
.row {
    display: flex;
}
.column {
    display: flex;
    flex-direction: column;
}

/*Mobile Banners*/
.banner-cards {
    display: flex;
}

.banner-card {
    display: flex;
    border-radius: 5px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 15vw;
}

.banner-card-img {
    margin: 15px;
    width: 10vw;
    border-radius: 6px;
}

.banner-card-img-1 {
    background: url('PancakesBanner.png') 50% 50% no-repeat;
    background-size: contain;
}

.banner-card-img-2 {
    background: url('Adrenalin.png') 50% 50% no-repeat;
    background-size: contain;
}

.banner-card-img-1::before,
.banner-card-img-2::before {
    content: '';
    display: block;
    padding-top: 177%;
}

.banner-card-text {
    color: black;
    margin-bottom: 10px;
    text-align: center;
}

.banner-card-link {
    margin-right: 30px;
}

/*Desktop Banners*/
.desktop-banner-cards {
    display: flex;
}

.desktop-banner-card {
    display: flex;
    border-radius: 5px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 25vw;
}

.desktop-banner-card-img {
    margin: 15px;
    width: 20vw;
    border-radius: 6px;
}

.desktop-banner-card-img-1 {
    background: url('AutoBanner.png') 50% 50% no-repeat;
    background-size: contain;
}

.desktop-banner-card-img-1::before,
.desktop-banner-card-img-2::before {
    content: '';
    display: block;
    padding-top: 55.69%;
}

.desktop-banner-card-text {
    color: black;
    margin-bottom: 10px;
    text-align: center;
}

.desktop-banner-card-link {
    margin-right: 30px;
}

/*Sites*/
.site-cards {
    display: flex;
    flex-wrap: wrap;
}

.site-card {
    display: flex;
    border-radius: 5px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30vw;
}

.site-card-img {
    margin: 15px;
    width: 25vw;
    border-radius: 6px;
}

.site-card-img-1 {
    background: url('demoStand.png') 50% 50% no-repeat;
    background-size: contain;
}

.site-card-img-2 {
    background: url('DoubleScreen.png') 50% 50% no-repeat;
    background-size: contain;
}

.site-card-img-3 {
    background: url('Waxon.png') 50% 50% no-repeat;
    background-size: contain;
}

.site-card-img-4 {
    background: url('Interior.png') 50% 50% no-repeat;
    background-size: contain;
}

.site-card-img-1::before,
.site-card-img-2::before,
.site-card-img-3::before,
.site-card-img-4::before {
    content: '';
    display: block;
    padding-top: 48.4%;
}

.site-card-text {
    color: black;
    margin-bottom: 10px;
    text-align: center;
}

.site-card-link {
    margin: 15px;
}



